@charset "UTF-8";

.video{
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  padding-bottom: 0px;
  margin-bottom: 5px;
}
.video iframe{
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
}

.ggmap {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
 
.ggmap iframe,
.ggmap object,
.ggmap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


#page-top {
    font-size: 0;
    position: fixed;
    bottom: 16px;
    right: 16px;
    opacity: 0;
}
#page-top.fade-in {
    color: #000;
    font-size: 60px;
    opacity: 0.6;
    transition: opacity 1s;
}

.nav_bg_green {
  background-color: hsla(359,100%,50%,1.00);
}

.nav_bg_white {
  background-color: hsla(0,0%,100%,1.00);
}

.nav_padding {
  padding-left: 5px;
  padding-right: 5px;
}

.tel_padding {
  padding-top: 10px;
  padding-left: 10px;
}

.toggle_color {
  color: hsla(174,64%,40%,1.00);
}

.logo_space {
  background-color: hsla(174,64%,40%,1.00);
  /* [disabled]height: 100px; */
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.top_title {
  color: hsla(0,0%,25%,1.00);
  font-family: "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 24px;
  position: relative;
  /* [disabled]top: 20%; */
  text-align: center;
  line-height: 1.4em;
  margin-top: -400px;
}

.h1_text {
  font-size: 43px;
}

.base_hr {
  border-top: 1px solid hsla(0,0%,85%,1.00);
}

.bn_biglink {
  color: hsla(0,0%,100%,1.00);
  font-size: 19px;
  border-radius: 5px;
  line-height: 0em;
}

.section_margin {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.bt_padding {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 0px;
}

body {
  font-family: "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

.section_midashi {
  color: hsla(0,0%,25%,1.00);
  font-family: "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 36px;
  line-height: 1.4em;
  text-align: center;
}

.news_table_width {
  width: 26%;
}

.table_text {
  font-size: 15px;
}

.shop_name_obi {
  background-color: hsla(204,70%,70%,1.00);
  color: hsla(0,0%,100%,1.00);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 18px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.card_radius {
  border-radius: 5px;
}

.shop_content {
  font-family: "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.syousai_padding {
  padding: 0px 10px 10px;
}

.dark_green {
  background-color: hsla(174,64%,40%,1.00);
}

.side_copy {
  color: hsla(0,0%,100%,1.00);
  font-family: "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  text-align: center;
  padding-bottom: 30px;
}

.news_midashi {
  font-size: 18px;
}

.top_parallax_read {
  font-size: 20px;
  margin-top: 0px;
}

.section_read {
  font-size: 15px;
  line-height: 1.8em;
}

.retina {
}

.top_margin10 {
  margin-top: 10px;
}

.br320 {
  display: none;
}

.br375 {
  display: none;
}

.br414 {
  display: none;
}

.web_btn {
  color: hsla(0,0%,100%,1.00);
  font-size: 13px;
  line-height: 2.5em;
  text-align: center;
  border-radius: 5px;
  background-color: hsla(227,100%,47%,1.00);
  text-shadow: 1px 1px 1px hsla(0,0%,0%,1.00);
  -webkit-box-shadow: 1px 1px 3px 1px hsla(0,0%,52%,1.00);
  box-shadow: 1px 1px 3px 1px hsla(0,0%,52%,1.00);
}
.web_bt_padding {
  padding: 0px;
}

.web_remarks {
  font-size: 13px;
  line-height: 1.4em;
}

.privacy_midashi {
  font-family: "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 23px;
  line-height: 1.5em;
  padding-bottom: 10px;
  font-weight: bold;
}

.privacy_read {
  font-family: "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 14pt;
  color: hsla(0,0%,25%,1.00);
  line-height: 1.4em;
}

.label_position {
  float: left;
  clear: left;
  margin-top: -38px;
}

.mac-blue {
  background-color: hsla(205,100%,35%,1.00);
}

.mac_text_color {
  color: hsla(205,100%,35%,1.00);
}

.drone_point {
  font-size: 16px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.side_logo {
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.phone_padding {
  padding-right: 5px;
}

.event_midashi {
  font-size: 20px;
}

.section_komidashi {
  font-size: 22px;
}

@media (max-width:320px){

.parallax_h1 {
  font-size: 22px;
  text-shadow: 1px 1px 1px hsla(0,0%,100%,1.00);
  margin-top: 100px;
}

.top_parallax_read {
  font-size: 15px;
  margin-top: 0px;
}

.bn_biglink {
  color: hsla(0,0%,100%,1.00);
  font-size: 13px;
  border-radius: 5px;
  line-height: 0em;
}

.bt_padding {
  padding: 24px 5px;
}

.section_midashi {
  color: hsla(0,0%,25%,1.00);
  font-family: "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 21px;
  line-height: 1.4em;
  text-align: center;
}

.section_read {
  font-size: 13px;
  line-height: 1.8em;
}

.parallax_h2 {
  color: hsla(174,64%,40%,1.00);
  font-size: 21px;
  padding-top: 100px;
  margin-top: 60px;
  text-shadow: 1px 1px 1px hsla(0,0%,100%,1.00);
}

.parallax_h2 {
  color: hsla(174,64%,40%,1.00);
  font-size: 19px;
  padding-top: 100px;
  margin-top: 40px;
  text-shadow: 1px 1px 1px hsla(0,0%,100%,1.00);
  line-height: 2em;
}

.br320 {
  display: block;
}

.drone_caption {
  font-size: 12px;
}
}

@media (max-width:375px) and (min-width:321px){

.parallax_h1 {
  font-size: 27px;
  text-shadow: 1px 1px 1px hsla(0,0%,100%,1.00);
  margin-top: 100px;
}

.top_parallax_read {
  font-size: 18px;
  margin-top: 0px;
}

.bt_padding {
  padding: 24px 5px;
}

.bn_biglink {
  color: hsla(0,0%,100%,1.00);
  font-size: 13px;
  border-radius: 5px;
  line-height: 0em;
}

.section_midashi {
  color: hsla(0,0%,25%,1.00);
  font-family: "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 23px;
  line-height: 1.4em;
  text-align: center;
}

.parallax_h2 {
  color: hsla(174,64%,40%,1.00);
  font-size: 24px;
  padding-top: 100px;
  margin-top: 60px;
  text-shadow: 1px 1px 1px hsla(0,0%,100%,1.00);
  line-height: 2em;
}

.br375 {
  display: block;
}

.drone_caption {
  font-size: 12px;
}
}

@media (max-width:414px) and (min-width:376px){

.parallax_h1 {
  font-size: 30px;
  text-shadow: 1px 1px 1px hsla(0,0%,100%,1.00);
  margin-top: 100px;
}

.top_parallax_read {
  font-size: 20px;
  margin-top: 0px;
}

.bn_biglink {
  color: hsla(0,0%,100%,1.00);
  font-size: 13px;
  border-radius: 5px;
  line-height: 0em;
}

.bt_padding {
  padding: 24px 5px;
}

.section_midashi {
  color: hsla(0,0%,25%,1.00);
  font-family: "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 26px;
  line-height: 1.4em;
  text-align: center;
}

.parallax_h2 {
  color: hsla(174,64%,40%,1.00);
  font-size: 24px;
  padding-top: 100px;
  margin-top: 60px;
  text-shadow: 1px 1px 1px hsla(0,0%,100%,1.00);
  line-height: 2em;
}

.br414 {
  display: block;
}

.drone_caption {
  font-size: 12px;
}
}

@media (max-width:992px){

.tablet_non {
  display: none;
}

.brand-logo {
}

.tel_padding {
  padding-top: 7px;
  padding-left: 10px;
  max-width: 165px;
}
}

@media (min-width:993px){

.parallax_h2 {
  color: hsla(205,100%,35%,1.00);
  font-size: 37px;
  padding-top: 100px;
  margin-top: 60px;
  text-shadow: 1px 1px 1px hsla(0,0%,100%,1.00);
}

.parallax_h1 {
  font-size: 48px;
  text-shadow: 1px 1px 1px hsla(0,0%,100%,1.00);
}
}

@media (max-width:414px){

.sm_non {
  display: none;
}
}

@media (min-width:415px){

.pc_non {
  display: none;
}
}

.web_content1 {
  font-size: 15px;
  line-height: 1.6em;
}

.work_title {
  font-size: 13px;
}

@media (max-width:568px) and (min-width:415px){
}

@media (max-width:667px) and (min-width:569px){
}

@media (max-width:684px) and (min-width:668px){
}

@media (max-width:736px) and (min-width:685px){
}

@media (max-width:768px) and (min-width:735px){
}

@media (max-width:1024px) and (min-width:769px){
}
